<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MediaCompany</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a class="nav-link" (click)="openForm(x,content)" style="cursor: pointer;" 
        *ngIf="!isAuthenticated">Login</a>
        <a class="nav-link" (click)="onLogout()" style="cursor: pointer;" 
        *ngIf="isAuthenticated">{{userName}}/Logout</a>

      </li>
    </ul>
  </div>
</nav>

 <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
 
    <button type="button" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (submit)="onSubmit()">
      <div  class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input formControlName="mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="pass" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      
      <button type="submit" class="btn btn-primary"  (click)="modal.dismiss('Cross click')">Submit</button>
    </form>

  </div>
</ng-template> 


 