<div class="FullWidthImage">
  <div class="main-text">
    <h1 style="font-size:50px">About MediaCompany India</h1>
    <p>MediaCompany India has manufacturing facilities in SUPA, Ahmednagar, Maharashtra and has exclusive rights to
      manufacture and sell MediaCompany brand room air conditioners and Midea brand light Commercial Air
      Conditioners in India. With offices in 21 cities across India, MediaCompany India has pan India presence.</p>
  </div>
</div>
<hr>

<div>
  <div class="row">
    <div class="col-sm-6">
      <img src="/../assets/images/aboutImage.jpg" class="center secImage" alt="image">
    </div>

    <div class="col-sm-5 firstPara">
      <p>MediaCompany India Pvt. Ltd. is a joint venture between Carrier and Midea Group Co. Ltd. Carrier, built on
        Willis Carrier’s invention of modern air conditioning in 1902, is a leading provider of heating, ventilating,
        air-conditioning and refrigeration solutions. It operates 51 factories and 39 research & design centres
        worldwide with more than 53,000 employees serving customers in more than 180 countries. Midea Group, a Fortune
        500 company with 34 global production centres, over 150,000 employees and an annual revenue of more than USD
        40.5 billion in 2019 generated in more than 200 countries & regions, is a high technology holding specializing
        in HVAC, home appliances, robotics and automation, smart home and IoT, as well as smart logistics and
        components.</p>
    </div>
  </div>
</div>

<hr>

<div class="FullWidthImage-sec">
  <div class="main-text">
    <h1 style="font-size:50px">Head Office</h1>
    <p>1st Floor, Pearl Tower,
      Plot No - 51, Sector - 32,
      Gurgaon, Haryana - 122001
      Tel: 0124-6144300</p>
  </div>
</div>
<hr>