<div class="FullWidthImage">
    <div class="text">
        <h1 style="font-size:50px">About Carrier Midea India</h1>

    </div>
</div>


<hr>
<div class="text-first">
    <p>Carrier Midea India Private Limited is committed to the cause of environmental sustainability and social
        leadership and has whole heartedly endorsed the Bureau of Energy Efficiency Standards and Labeling Program
        (hereinafter the 'BEE Labeling Program').<br>

        The BEE Labeling program is a system to determine the energy efficiency of certain household electronic products
        including room air-conditioners. The key objectives for starting the said Program is to mitigate the greenhouse
        effect on environment and also to provide the consumers an informed choice about the energy and cost saving
        potential of the relevant product.<br>

        Depending on their energy efficiency, the electrical appliances are rated on a scale of 1 – 5 and are indicated
        by stars for easy understanding. It is said, "Higher the number of stars, better is the energy efficiency of
        that product".</p>
</div>


<div style="background-color: lightgray;">
    <h2 style="text-align: center;">Environment and Safety Commitment</h2>
    <div class="row">
        <div class="col-6">
            <img src="/../assets/images/home2.jpg" class="treeImg">
        </div>
        <div class="col-6 text-sec">

            <p style="margin-right: 104px;">The Management of Carrier Midea India is committed to provide all its
                employees
                a safe and healthy workplace
                with an ultimate goal to ensure the feeling of safety in mind and adequate protection of natural
                environment

                Carrier Midea India will make all efforts to ensure its workplace is hazard-free and healthy, its
                employees
                and operations are accident-free, its products and services are safe and environment friendly, and it is
                committed to the protection of the natural environment.<br><br>
                <strong>Environment, Health & Safety Objectives of Carrier Midea India will be accomplished through
                    following
                    commitments:</strong><br>
            </p>
            <ul class="list">
                <li>Comply with all applicable laws and regulatory requirements at national, state & local level.</li>
                <li>Operate facilities that are environmentally friendly</li>
                <li>Design products that are safe, energy efficient and environmentally friendly</li>
                <li>Operate facilities that are environmentally friendly</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div>
    <h1 style="text-align: center;">Meet Our Team</h1>
    <div class="row mainCardLayout">

        <div class="col-4 cardBox" *ngFor="let x of cardDetails">
            <img src="{{x.image}}" class="card"><br>
            <p class="nameClass">{{x.name}}</p>
            <p class="tilte">{{x.title}}</p>
        </div>
    </div>
    <hr>
</div>


<div class="FullWidthImage-sec">
    <div class="main-text">
      <h1 style="font-size:50px">Head Office</h1>
      <p>1st Floor, Pearl Tower,
        Plot No - 51, Sector - 32,
        Gurgaon, Haryana - 122001
        Tel: 0124-6144300</p>
    </div>
  </div>
<hr>